img {
  margin: 150px 300px 0px 300px;
  height: 92px;
  width: 272px;
}

.search{
    margin: 0px 300px 0px 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: right;
    padding: 0.5em;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
  padding: 0.5em;

}
*/
